.card-img-top {
    height: 120px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    overflow: hidden;
    text-align: center;

}

.card-img-top {
    transform: scale(1.09);
    margin: 7px;
}

img {
  width: 75px;
  height: 120px;
}
