.footer{
    background-color:aqua;
    color: white;
}
.navbar {
    background-color: aqua;
}

#footer {
    background-color: aqua;
}

#navbar {
    background-color: aqua;
}

body  {color: black;}